/*
 * Copyright (c) 2021 Pete Johanson
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/outputs.h>

#define DEFAULT 0
#define LOWER   1
#define RAISE   2
#define ADJUST  3

#define KW_FRSH    LG(LS(R))           // browser refresh
#define KW_DEVT    LG(LA(I))           // browser dev tools
#define KW_EMOJ    LG(LC(SPACE))       // macos emoji picker
#define KW_MOOM    LG(LC(M))           // moom window management
#define KW_WINF    LG(GRAVE)           // cmd+` (macos, next window of current app)
#define KW_WINB    LG(TILDE)           // cmd+~ (macos, prev window of current app)

#define KW_UNDO    LG(Z)               // cmd+z (undo)
#define KW_CUT     LG(X)               // cmd+x (cut)
#define KW_COPY    LG(C)               // cmd+c (copy)
#define KW_PASTE   LG(V)               // cmd+v (paste)

#define WORD_L     LA(LEFT)            // alt+left (word left, macos/emacs)
#define WORD_R     LA(RIGHT)           // alt+right (word right, macos/emacs)

#define KW_SCR3    LG(LS(N3))          // screenshot (macos)
#define KW_SCR4    LG(LS(N4))          // screenshot (region, macos)
#define KW_SCR5    LG(LS(N5))          // screenshot (window/etc..., macos)

// Using layer taps on thumbs, having quick tap as well helps w/ repeating space/backspace
// &lt { quick_tap_ms = <200>; };

/ {
/*
    behaviors {
        ht_bl: hold_tap_balanced {
            compatible = "zmk,behavior-hold-tap";
            label = "HOLD_TAP_BALANCED";
            #binding-cells = <2>;
            tapping-term-ms = <200>;
            flavor = "balanced";
            bindings = <&kp>, <&kp>;
        };
    };
*/
    macros {
        ZMK_MACRO(esc_bslash,
            wait-ms = <40>;
            tap-ms = <40>;
            bindings = <&kp ESC>, <&kp BACKSLASH>;
        )

        ZMK_MACRO(bs_four,
            wait-ms = <40>;
            tap-ms = <40>;
            bindings = <&kp BACKSPACE>, <&kp BACKSPACE>, <&kp BACKSPACE>, <&kp BACKSPACE>;
        )

        ZMK_MACRO(del_four,
            wait-ms = <40>;
            tap-ms = <40>;
            bindings = <&kp DEL>, <&kp DEL>, <&kp DEL>, <&kp DEL>;
        )

        ZMK_MACRO(spc_four,
            wait-ms = <40>;
            tap-ms = <40>;
            bindings = <&kp SPACE>, <&kp SPACE>, <&kp SPACE>, <&kp SPACE>;
        )
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            label = "Base";
            bindings = <
            // ╭────────────┬────────────┬────────────┬────────────┬────────────╮   ╭────────────┬────────────┬────────────┬────────────┬────────────╮
                 &kp APOS     &kp COMMA    &kp DOT      &kp P        &kp Y            &kp F        &kp G        &kp C        &kp R        &kp L
              &mt LCTRL A  &kp O        &kp E        &kp U        &kp I            &kp D        &kp H        &kp T        &kp N        &mt RCTRL S
          &mt LSHIFT SEMI  &kp Q     &mt LALT J  &mt LCMD K  &kp X           &kp B      &mt RCMD M  &mt RALT W  &kp V      &mt RSHIFT Z
            // ╰────────────┴────────────┴────────────╮                                                       ╭────────────┴────────────┴────────────╯
                                                        &kp TAB  &lt LOWER SPACE    &lt RAISE RET  &kp ESC
            //                                        ╰────────────┴────────────╯   ╰────────────┴────────────╯
            >;
        };

        lower_layer {
            label = "Lower";
            bindings = <
            // ╭────────────┬────────────┬────────────┬────────────┬────────────╮   ╭────────────┬────────────┬────────────┬────────────┬────────────╮
                 &kp PG_UP    &kp WORD_L   &kp UP       &kp WORD_R   &kp HOME         &del_four    &kp N7       &kp N8       &kp N9       &bs_four
        &mt LCTRL PG_DN    &kp LEFT     &kp DOWN     &kp RIGHT    &kp END          &kp DEL      &kp N4       &kp N5       &kp N6       &mt RCTRL BACKSPACE
&mt LSHIFT KW_WINB  &kp KW_CUT  &mt LALT KW_COPY  &mt LCMD KW_PASTE  &kp KW_WINF  &kp KW_MOOM  &mt RCMD N1  &mt RALT N2  &kp N3  &mt RSHIFT KW_UNDO
            // ╰────────────┴────────────┴────────────╮                                                       ╭────────────┴────────────┴────────────╯
                                                        &trans       &trans           &kp N0       &trans
            //                                        ╰────────────┴────────────╯   ╰────────────┴────────────╯
            >;
        };

        raise_layer {
            label = "Raise";
            bindings = <
            // ╭────────────┬────────────┬────────────┬────────────┬────────────╮   ╭────────────┬────────────┬────────────┬────────────┬────────────╮
                 &kp EXCL     &kp AT       &kp HASH     &kp PRCNT    &trans           &trans       &kp AMPS     &kp STAR     &kp PLUS     &kp UNDER
          &mt LCTRL CARET  &kp GRAVE    &kp TILDE    &kp DOLLAR   &kp KW_EMOJ      &kp QMARK    &kp SLASH    &kp EQUAL    &kp BSLH     &mt RCTRL MINUS
               &trans  &kp LBRC  &mt LALT LBKT  &mt LCMD LPAR  &kp KW_FRSH      &kp KW_DEVT  &mt RCMD RPAR  &mt RALT RBKT  &kp RBRC  &mt RSHIFT PIPE
            // ╰────────────┴────────────┴────────────╮                                                       ╭────────────┴────────────┴────────────╯
                                                        &spc_four    &mo ADJUST       &trans       &esc_bslash
            //                                        ╰────────────┴────────────╯   ╰────────────┴────────────╯
            >;
        };

        adjust_layer {
            label = "Adjust";
            bindings = <
            // ╭────────────┬────────────┬────────────┬────────────┬────────────╮   ╭────────────┬────────────┬────────────┬────────────┬────────────╮
                 &kp F1       &kp F2       &kp F3       &kp F4      &kp C_VOL_UP      &kp INS       &kp PSCRN     &kp SLCK      &kp PAUSE_BREAK  &bt BT_CLR
            &mt LCTRL F5   &kp F6       &kp F7       &kp F8      &kp C_VOL_DN      &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3     &mt RCTRL BT_SEL 4
          &mt LSHIFT F9   &kp F10  &mt LALT F11  &mt LCMD F12  &kp C_PP      &kp KW_SCR3  &mt RCMD KW_SCR4  &mt RALT KW_SCR5   &trans     &trans
            // ╰────────────┴────────────┴────────────╮                                                       ╭────────────┴────────────┴────────────╯
                                                        &trans       &trans           &trans       &trans
            //                                        ╰────────────┴────────────╯   ╰────────────┴────────────╯
            >;
        };
    };
};
